@tailwind base;
@tailwind components;
@tailwind utilities;

.bordered {
  @apply rounded-xl border border-zinc-300;
  @apply dark:border-zinc-800 dark:text-zinc-600;
}

.hover-bordered {
  @extend .bordered;
  @apply hover:border-zinc-400 transition-colors duration-150;
  @apply hover:dark:border-zinc-700;
}

.osu_page-layout {
  @apply w-full min-h-[100vh] shadow-lg p-10 flex justify-center gap-4 transition-colors duration-150;
  @apply flex-col md:flex-row;
  @apply bg-zinc-100 text-zinc-900;
  @apply dark:bg-zinc-900 dark:text-zinc-100;
}

.osu_left-col {
  @apply flex flex-col gap-4 h-fit min-w-[320px];

  .madeby {
    @apply h-full min-w-[320px] px-4 py-2 text-sm flex justify-center transition-colors duration-150;
    @apply text-zinc-400 hover:text-zinc-500 dark:text-zinc-700 hover:dark:text-zinc-600;
    @apply hidden md:flex;
    @extend .hover-bordered;
  }
}

.osu_search-bar {
  @apply h-full min-w-[320px] px-4 py-2;
  @apply focus-within:border-zinc-500 focus-within:dark:border-zinc-600;
  @extend .hover-bordered;

  .osu_sb-form {
    @apply flex items-center h-full gap-2;

    .osu_sb-form-input {
      @apply bg-transparent rounded-lg outline-none text-sm py-1 w-full;
      @apply dark:text-zinc-300 transition-colors duration-150;
    }
    
    .osu_sb-form-btn {
      @apply text-zinc-900 hover:text-zinc-600 transition-colors duration-150;
      @apply dark:text-zinc-600 hover:dark:text-zinc-300;
    }
  }
}
 
.osu_player-summary {
  @extend .hover-bordered;
  
  .osu_player-header {
    @apply relative h-24 w-full flex overflow-hidden bg-zinc-900;
    @extend .bordered;

    .osu_player-header-details {
      @apply relative z-10 w-full flex;
  
      .osu_player-avatar {
        @apply w-24 h-24 rounded-xl overflow-hidden;
  
        & > img {
          @apply w-full h-full shadow-md;
        }
      }
  
      .osu_player-name {
        @apply h-24 flex flex-col justify-center px-4;
  
        & > h3 {
          @apply text-xl font-extrabold text-white;
        }
      }
    }
  
    .osu_player-header-bg {
      @apply h-24 w-full absolute top-0 left-0 overflow-hidden z-0 opacity-75;
      @apply dark:opacity-[0.55];
    }
  }

  .osu_player-details {
    @apply w-full flex gap-2 flex-col p-4;

    .osu_player-stat {
      @apply flex gap-2 items-center;

      .marker {
        @apply w-1 h-4 rounded-xl;
      }

      .value {
        @apply font-medium text-zinc-600 dark:text-zinc-400 transition-colors duration-150;
      }

      .name {
        @apply ml-auto text-sm text-zinc-400 dark:text-zinc-600 transition-colors duration-150;
      }
    }
    
  }
}

.osu_score-list {
  @apply md:max-w-xl;
  @apply h-fit w-full p-4;
  @apply flex flex-col gap-2;
  @extend .hover-bordered;

  & > h3 {
    @apply text-lg text-zinc-300 dark:text-zinc-600;
  }
}

.osu_score {
  @apply flex items-center gap-2 p-2;
  @apply dark:text-zinc-300;
  @extend .bordered;

  .osu_score-rank {
    @apply w-1 h-8 rounded-xl transition-colors duration-150;
    @apply md:h-10 lg:h-8;
  }

  .osu_score-details {
    @apply flex flex-col text-sm;

    .osu_score-bm-title {
      @apply text-zinc-800 dark:text-zinc-300 font-bold;
    }

    .osu_score-bm-artist {
      @apply text-zinc-700 dark:text-zinc-500;
    }

    .osu_score-bm-version {
      @apply text-zinc-600 dark:text-zinc-400 italic;
    }
  }

  .osu_score-pp {
    @apply ml-auto font-bold transition-colors duration-150;

    & > .text {
      @apply text-zinc-400 dark:text-zinc-600 font-normal text-sm;
    }
  }
}

.osu_theme-switcher {
  @apply fixed bottom-8 right-8 p-2 rounded-full text-white cursor-pointer;
  @apply bg-pink-500;

  z-index: 3;

  & > * {
    position: relative;
    height: 28px;
    width:  28px;
  }
}

.rank--ssh,
.rank--sh {
  @apply text-zinc-400 dark:text-zinc-200;
}

.rank--ss,
.rank--s {
  @apply text-amber-400 dark:text-amber-200;
}

.rank--a {
  @apply text-emerald-400 dark:text-emerald-200;
}

.rank--b {
  @apply text-sky-400 dark:text-sky-200;
}

.rank--c {
  @apply text-violet-400 dark:text-violet-200;
}

.rank--d {
  @apply text-rose-400 dark:text-rose-200;
}


.rank-bg-ssh,
.rank-bg--sh {
  @apply bg-zinc-400 dark:bg-zinc-200;
}

.rank-bg--ss,
.rank-bg--s {
  @apply bg-amber-400;
}

.rank-bg--a {
  @apply bg-emerald-400;
}

.rank-bg--b {
  @apply bg-sky-400;
}

.rank-bg--c {
  @apply bg-violet-400;
}

.rank-bg--d {
  @apply bg-rose-400;
}
